/* styles/Board2048.module.css */

.board2048 {
    box-sizing: border-box;
    margin: 0 auto;
    flex-grow: 1;
    /* background-color: #f65e3b; */
    aspect-ratio: 1/1;
    height: 100%;
    flex-direction: column;
    display: flex;
    gap: 0.2rem;
    padding: 0.5rem;
  }
  
  .row {
    display: flex;
    gap: 0.2rem;

    justify-content: space-between;
  }
  
  .tile {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #ccc;
    width: 100%;
    font-size: clamp(1rem, 2.5vw, 5rem);
  }
  
  .tile-2 {
    background-color: #eee4da;
    color: #776e65;
}
.tile-4 {
    background-color: #ede0c8;
    color: #776e65;
}
.tile-8 {
    background-color: #f2b179;
    color: #f9f6f2;
}
.tile-16 {
    background-color: #f59563;
    color: #f9f6f2;
}
.tile-32 {
    background-color: #f67c5f;
    color: #f9f6f2;
}
.tile-64 {
    background-color: #f65e3b;
    color: #f9f6f2;
}
.tile-128 {
    background-color: #edcf72;
    color: #f9f6f2;
}
.tile-256 {
    background-color: #edcc61;
    color: #f9f6f2;
}
.tile-512 {
    background-color: #edc850;
    color: #f9f6f2;
}
.tile-1024 {
    background-color: #edc53f;
    color: #f9f6f2;
}
.tile-2048 {
    background-color: #edc22e;
    color: #f9f6f2;
}
  
  /* Add more styles for other tile values as needed */
  